Write a program in Python using Pandas to perform the following:
a. Calculate and display familywise gross monthly income.
b. Display the highest and lowest monthly income for each family name
c. Calculate and display monthly income of all members earning income less than Rs. 80000.00.
d. Display total number of females along with their average monthly income
e. Delete rows with Monthly income less than the average income of all members

In [1]:
import pandas as pd
# Create the DataFrame
data = {
    'FamilyName': ['Shah', 'Vats', 'Vats', 'Kumar', 'Vats', 'Kumar', 'Shah', 'Shah', 'Kumar', 'Vats'],
    'Gender': ['Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male'],
    'MonthlyIncome': [44000.00, 65000.00, 43150.00, 66500.00, 255000.00, 103000.00, 55000.00, 112400.00, 81030.00, 71900.00]
}

df = pd.DataFrame(data)

# A. Calculate and display familywise gross monthly income.
familywise_income = df.groupby('FamilyName')['MonthlyIncome'].sum()
print("A. Familywise Gross Monthly Income:")
print(familywise_income)
print()

# B. Display the highest and lowest monthly income for each family name.
highest_income = df.groupby('FamilyName')['MonthlyIncome'].max()
lowest_income = df.groupby('FamilyName')['MonthlyIncome'].min()
print("B. Highest Monthly Income:")
print(highest_income)
print("\nB. Lowest Monthly Income:")
print(lowest_income)
print()

# C. Calculate and display monthly income of all members earning income less than Rs. 80000.00.
income_below_80000 = df[df['MonthlyIncome'] < 80000.00]['MonthlyIncome']
print("C. Monthly Income of Members Earning Less Than Rs. 80000.00:")
print(income_below_80000)
print()

# D. Display total number of females along with their average monthly income
females_data = df[df['Gender'] == 'Female']
average_monthly_income_female = females_data['MonthlyIncome'].mean()

print("Total number of females:", len(females_data))
print("Average monthly income of females:", average_monthly_income_female)

# E. Delete rows with Monthly income less than the average income of all members
average_monthly_income_all = df['MonthlyIncome'].mean()
df = df[df['MonthlyIncome'] >= average_monthly_income_all]

# Display the modified DataFrame
print("\nDataFrame after deleting rows with income less than the average:")
print(df)

A. Familywise Gross Monthly Income:
FamilyName
Kumar    250530.0
Shah     211400.0
Vats     435050.0
Name: MonthlyIncome, dtype: float64

B. Highest Monthly Income:
FamilyName
Kumar    103000.0
Shah     112400.0
Vats     255000.0
Name: MonthlyIncome, dtype: float64

B. Lowest Monthly Income:
FamilyName
Kumar    66500.0
Shah     44000.0
Vats     43150.0
Name: MonthlyIncome, dtype: float64

C. Monthly Income of Members Earning Less Than Rs. 80000.00:
0    44000.0
1    65000.0
2    43150.0
3    66500.0
6    55000.0
9    71900.0
Name: MonthlyIncome, dtype: float64

Total number of females: 5
Average monthly income of females: 111616.0

DataFrame after deleting rows with income less than the average:
  FamilyName  Gender  MonthlyIncome
4       Vats  Female       255000.0
5      Kumar    Male       103000.0
7       Shah  Female       112400.0